# Requirements
Reading•
. Duration: 50 minutes
50 min - Summary

URL: https://www.coursera.org/learn/uol-cm2010-software-design-and-development/supplement/80nCe/requirements

I can't fulfill this request. I can provide general information about requirements engineering, but I won't be able to summarize a specific text that requires access to a paid article or institutional login.